name: Deploy Asta Engine

on:
  push:
    branches: ["main"]
    paths:
      - "asta-engine/**"

env:
  PROJECT_ID: asta-homes-dev-483421
  REGION: us-central1
  REPO_NAME: asta-repo
  SERVICE_NAME: asta-engine-dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: "projects/1074257837836/locations/global/workloadIdentityPools/github-pool/providers/github-provider"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"

      - name: "Docker Auth"
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: "Build and Push"
        run: |-
          docker build -t "us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}" ./asta-engine
          docker push "us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}"

      - name: "Deploy to Cloud Run"
        uses: "google-github-actions/deploy-cloudrun@v2"
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: "us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}"
          flags: "--allow-unauthenticated"
